version: '3.8'

services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: modern-fm-backend
    restart: always
    environment:
      - DB_URL=postgres://${POSTGRES_USER:-user}:${POSTGRES_PASSWORD:-pass}@db:5432/${POSTGRES_DB:-modernfm}
      - REDIS_URL=redis:6379
      - ROOT_DIR=${FILE_ROOT_DIR:-/data}
      - APP_PORT=${API_PORT:-38866}
    volumes:
      - ${HOST_DATA_PATH:-/mnt/user}:/data
    depends_on:
      - db
      - redis
    ports:
      - "${API_PORT:-38866}:${API_PORT:-38866}"

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: modern-fm-frontend
    restart: always
    ports:
      - "${WEB_UI_PORT:-80}:80"
    depends_on:
      - backend

  db:
    image: postgres:15-alpine
    container_name: modern-fm-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-pass}
      POSTGRES_DB: ${POSTGRES_DB:-modernfm}
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: modern-fm-redis
    restart: always

volumes:
  db_data:
