name: Build and Push All-in-One Docker Image

on:
  push:
    branches: [ master ]
    tags: [ 'v*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push All-in-One Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.all-in-one
          push: true
          tags: |
            ryantj/modern-fm:latest
            ryantj/modern-fm:${{ github.sha }}
